<header id="header" class="header" role="banner">
      <div class="section layout-container clearfix">
        {{ page.header }}
      </div>
</header>

<div class="container">
	<section class="section-block">
	    {{ page.content }}
	</section>
</div>

<!-- FOOTER -->
<footer>
	<div class="bas-de-page">
		<div class="footer-items">
			{{ page.footer }}
	</div>
	<div class="socials">
		<h5>
			<i>Suivez nous sur les réseaux sociaux !</i>
		</h5>
		<img src="images/facebook.png">
		<img src="images/twitter.png">
		<img src="images/linkedin.png">
	</div>
</footer>